fastapi
uvicorn
python-dotenv
httpx
pydantic
pdfplumber
langchain
langchain-core
langchain-community
langchain-cli
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
pymupdf==1.22.3  # ✅ correct package name
