fastapi
uvicorn
python-dotenv
python-multipart
httpx
fitz  # alias of PyMuPDF
PyMuPDF
langchain
langchain-core
langchain-community
langchain-cli
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
pdfplumber
